#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.editor-pane, .render-pane {
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.editor-pane {
  border-right: 1px solid #ccc;
}

h2 {
  margin-top: 0;
  text-align: center;
}

textarea {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 0.5rem;
  box-sizing: border-box;
  font-family: monospace;
  resize: none;
}

.render-view {
  border: 1px solid #ccc;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
}